.comment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comment-header-start {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 11pt;
}

.comment-loading {
    position: relative;
}

.comment-loading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}

.comment-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comment-meta {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.comment-writer {
    font-weight: 500;
    line-height: 1;
}

.comment-date {
    color: #722ed1;
    line-height: 1;
}

.comment-actions {
    display: flex;
    gap: 0.25rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.comment-action {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #fff;
    background-color: rgba(#722ed1, 0.2);
    border-radius: 3rem;
    padding: 0.25rem 1rem;
    transition: background-color 300ms, transform 300ms, opacity 300ms;
}

.comment-action.display-on-hover {
    opacity: 0;
    visibility: hidden;
}

.comment-container:hover .comment-action.display-on-hover {
    visibility: visible;
    opacity: 1;
}

.action-confirm {
    transform: scale(1.05);
}

.comment-action:hover {
    background-color: rgba(#722ed1, 0.5);
}

.comment-action.active {
    visibility: visible;
    opacity: 1;
    background-color: rgba(#722ed1, 0.8);
}

.comment-action svg {
    width: 1.2rem;
    height: 1.2rem;
}

.comment-action-value {
    font-weight: 500;
    line-height: 0.8;
    font-size: 11pt;
}

.comment-replies {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.2rem;
    border-left: 2px solid rgba(#722ed1, 0.1);
    padding-left: 1rem;
}
